.horizontal__scroll-section {
    --view-timeline-name: --horizontal-scroll;
    height: var(--height);
    view-timeline-name: var(--view-timeline-name);
    view-timeline-axis: block;
    position: relative;
}

.horizontal__scroll-section > .pin__wrap-sticky {
    position: sticky;
    top: 0;
    left: 0;
    height: 100dvh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.horizontal__scroll-section > .pin__wrap-sticky > .pin__wrap {
    flex: 1;
    width: fit-content;
    will-change: transform;
    animation: moveToLeft linear forwards;
    animation-timeline: var(--view-timeline-name);
}

@keyframes moveToLeft {
    to {
        transform: translateX(calc(-100% + 100vw));
    }
}
