.services {
    --total-container-height: calc(100dvh * var(--total-cards));
    padding: 1rem;
    position: relative;
    min-height: var(--total-container-height);
    view-timeline-name: --services-timeline;
    view-timeline-axis: block;
}

.services > div {
    position: sticky;
    inset: 0;
    height: 100dvh;
    overflow: hidden;
    display: flex;
}

.services > div > .marquee {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.services > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
