.navbar {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--glass-color-light);
    backdrop-filter: var(--blur-effect-light);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-out);
}

.navbar > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.navbar > .navbar__links {
    flex: 1;
    position: relative;
}

.navbar > .navbar__links::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 20px;
    height: 100%;
    transform: skew(-20deg);
    box-shadow: 12px 0px 12px -3px rgba(0, 0, 0, 0.1);
}

.navbar > .navbar__links > a {
    display: flex;
}

.navbar > .navbar__links > a > img {
    height: 48px;
    object-fit: contain;
}

.navbar > .navbar__links > ul {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--neutral-900);
}

.navbar > .navbar__actions > div {
    position: relative;
}

.navbar > .navbar__actions > div > picture {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    aspect-ratio: 1;
    border: 1px solid var(--neutral-600);
    border-radius: 999999px;
}

.navbar > .navbar__actions > div > ul {
    content: "";
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-50);
    width: 200px;
    padding-inline: 1rem;
    border-radius: var(--border-radius-out);
    box-shadow: var(--box-shadow);
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding-block 0.3s ease-in-out;
}

.navbar > .navbar__actions > div:hover > ul {
    max-height: 250px;
    padding-block: 0.5rem;
}

.navbar > .navbar__actions > div > ul > li:not(:last-child) {
    border-bottom: 1px solid var(--neutral-200);
}

.navbar > .navbar__actions > div > ul > li > button {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar > .navbar__actions > div > ul > li > button:hover {
    opacity: 0.7;
}

.navbar > .navbar__actions > button.icon {
    display: none;
}

@media screen and (width <= 914px) {
    .navbar > .navbar__links > ul,
    .navbar > .navbar__actions > a,
    .navbar > .navbar__actions > div {
        display: none;
    }

    .navbar > .navbar__links::after {
        display: none;
    }

    .navbar > .navbar__actions > button.icon {
        display: flex;
    }
}
