.navbar {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: calc(100% - 2rem);
    background-color: var(--glass-color-light);
    backdrop-filter: var(--blur-effect-light);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-out);
    z-index: 10;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.navbar > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.navbar > .navbar__links {
    flex: 1;
    position: relative;
}

.navbar > .navbar__links::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 20px;
    height: 100%;
    transform: skew(-20deg);
    box-shadow: 12px 0px 12px -3px rgba(0, 0, 0, 0.1);
}

.navbar > .navbar__links > div > a {
    display: flex;
}

.navbar > .navbar__links > div > a > img {
    height: 48px;
    object-fit: contain;
}

.navbar > .navbar__links > div {
    display: flex;
    gap: 2rem;
}

.navbar > .navbar__links > div > button {
    display: none;
    align-items: center;
    gap: 1rem;
    height: 48px;
    border: none;
    background-color: transparent;
}

.navbar > .navbar__links > div > button > div {
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
}

.navbar > .navbar__links > div > button > div > span:first-child,
.navbar > .navbar__links > div > button > div > span:last-child {
    background-color: var(--neutral-900);
    height: 2px;
}

.navbar > .navbar__links > div > button > div > span:first-child {
    width: 100%;
}

.navbar > .navbar__links > div > button > div > span:last-child {
    width: 75%;
}

.navbar > .navbar__links > ul {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--neutral-900);
}

.navbar > .navbar__actions {
    position: relative;
}

.navbar > .navbar__actions > div {
    display: flex;
    gap: 1rem;
}

.navbar > .navbar__actions > div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    aspect-ratio: 1;
    border: 1px solid var(--neutral-600);
    border-radius: 999999px;
    background-color: transparent;
}

.navbar > .navbar__actions > ul::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: calc(0.5rem + 11px);
    width: 25px;
    height: 20px;
    background-color: var(--neutral-50);
    box-shadow: var(--box-shadow);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.navbar > .navbar__actions > ul {
    content: "";
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    background-color: var(--neutral-50);
    border-radius: var(--border-radius-out);
    box-shadow: var(--box-shadow);
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.3s ease-in-out, padding-block 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar > .navbar__actions.open > ul {
    overflow: visible;
    max-height: 250px;
    padding-block: 0.5rem;
    opacity: 1;
    pointer-events: visible;
}

.navbar > .navbar__actions > ul > li:not(:last-child) {
    border-bottom: 1px solid var(--neutral-200);
}

.navbar > .navbar__actions > ul > li > button {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar > .navbar__actions > ul > li > button:hover {
    opacity: 0.7;
}

@media screen and (width <= 873px) {
    .navbar > .navbar__links > div {
        flex: 1;
        justify-content: space-between;
    }

    .navbar > .navbar__links > ul,
    .navbar > .navbar__actions,
    .navbar > .navbar__actions > ul::before,
    .navbar.open > .navbar__actions > div > button {
        display: none;
    }

    .navbar > .navbar__links::after {
        display: none;
    }

    .navbar > .navbar__links > div > button {
        display: flex;
    }

    /* NAVBAR OPEN */

    .navbar.open {
        transform: translateX(0);
        top: 0;
        left: 0;
        flex-direction: column;
        padding-inline: 1rem;
        height: 100dvh;
        width: 100%;
    }

    .navbar.open > .navbar__links {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
    }

    .navbar.open > .navbar__links > div {
        padding-block: 1rem;
        flex: none;
        width: 100%;
        border-bottom: 1px solid var(--neutral-400);
    }

    .navbar.open > .navbar__links > ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        /* width: 100%; */
        margin-left: 0;
    }

    .navbar.open > .navbar__links > ul > li {
        /* border-bottom: 1px solid var(--neutral-200); */
    }

    .navbar.open > .navbar__actions {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        padding: 1rem 0;
        border-top: 1px solid var(--neutral-400);
    }

    .navbar.open > .navbar__actions > div > a {
        flex: 1;
    }

    .navbar.open > .navbar__actions > ul {
        padding-inline: 0;
        position: static;
        opacity: 1;
        pointer-events: visible;
    }

    .navbar.open > .navbar__actions > ul > li > button {
        border-radius: var(--border-radius-out);
        text-align: center;
        line-height: 1.475;
        border: 1px solid var(--neutral-900);
        background-color: transparent;
        color: var(--neutral-900);
        padding: 11.5px 34px;
    }
}
