.navbar {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--glass-color);
    backdrop-filter: var(--blur-effect);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-out);
}

.navbar > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.navbar > .navbar__links {
    flex: 1;
    position: relative;
}

.navbar > .navbar__links::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 20px;
    height: 100%;
    transform: skew(-20deg);
    box-shadow: 12px 0px 12px -3px rgba(0, 0, 0, 0.1);
}

.navbar > .navbar__links > a {
    display: flex;
}

.navbar > .navbar__links > a > img {
    max-height: 40px;
    object-fit: contain;
}

.navbar > .navbar__links > ul {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: var(--neutral-900);
}
