.root {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.root > main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* padding-inline: 1rem; */
    /* width: var(--max-width);
    align-self: center; */
}

.root > footer {
    /* align-self: center;
    width: var(--max-width); */
}