.root {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.root > header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    z-index: 10;
    /* width: var(--max-width); */
}

.root > main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-inline: 1rem;
    /* width: var(--max-width);
    align-self: center; */
}

.root > footer {
    /* align-self: center;
    width: var(--max-width); */
}
