.award__card {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: var(--border-radius-out) var(--border-radius-out) 0 0;
    background-color: var(--glass-color);
    backdrop-filter: var(--blur-effect);
    box-shadow: var(--box-shadow);
}

.award__card > div {
    flex: 1;
    display: flex;
    gap: 1rem;
}

.award__card > div > span {
    font-size: var(--text-size-huge);
}

.award__card > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.award__card > div > div > time {
    opacity: 0.8;
}

.award__card > p {
    max-width: 50ch;
}
